@import "variables/vars";
@import "grilla/grilla";
@import "componentes/componentes";
@import "pages/index";
@import "pages/premios";
@import "pages/estadisticas";
@import "pages/entrevistas";
@import "pages/_biografia";

body {
    background-color: $background-color;
    font-family: Inter;
    color: $text-color;
}

h1{
    font-family: LEMON MILK;
    font-size: 6rem;
    font-style: italic;
    font-weight: 50rem;
}
p{
    font-size: 1.4rem;
}

@media screen and (max-width:576px) {
    h1{
        font-size: 4rem;
    }

    p{
        font-size: 1.6rem
    }
}

a{
    text-decoration: none !important;
    color: $acent-color;
}