html{
    font-size: 10px;
}

body {
    background-color: #000017;
    font-family: Inter;
    color: #fff;
}

footer{
  display: flex;
  padding: 7rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  align-self: stretch;
  background: #000;
}

nav{
  background-color: #000;
  
}



a {
  text-decoration: none;
  color: #FFF;
}

.grid-containerr{
  display: flex;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5em;
    align-content: start !important;
    max-height:0em;
    align-self: auto;
    margin: 0 0 0 0;
}

.grid__item-1{
  grid-area: 1 / 1 / 2 / 13;
  
}


.grid__item-2{
    grid-area: 2 / 1 / 3 / 13;
  }

/* CONTENIDO QUE ESTA DENTRO DE EL 2 ITEM DE LA GRID EN EL INDEX */
.contenido__grid__item_2-inicio{
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 6px;
    background: radial-gradient(59.34% 59.33% at 52.07% 89.17%, rgba(255, 199, 0, 0.35) 0%, rgba(217, 217, 217, 0.00) 100%, rgba(0, 0, 23, 0.35) 100%);
    height: fit-content;
    margin-bottom: -5em;
}

      .contenido__grid__item_2-inicio h1{
        color: #FFF;
        margin: 0 auto;
        font-family: LEMON MILK;
        font-size: 12rem;
        font-style: italic;
        font-weight: 50rem;
        line-height: normal;
      }


      .contenido__grid__item_2-inicio p {
        color: #FFF;
        font-family: Lexend, Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 40rem;
        line-height: normal;
      }

      .contenido__grid__item_2-inicio .imagen__principal{
        width: 588px;
        height: 675px;
      }
    .star{
      width: 1.8rem;
      height: 1.8rem;
    }

    .star__container{
      display: flex;
      align-items: flex-start;
      gap: 45.298px;
    }




/* CONTENIDO QUE ESTA DENTRO DE EL 2 ITEM DE LA GRID EN BIOGRAFÍA */
.contenido__grid__item_2-biografia{
        display: flexbox;
        flex-direction: column;
        margin: 0px 7rem;
        gap: 2.4rem;
        align-self: stretch;
        align-content: center;
        align-items: center;
        height: fit-content;
}
    .contenido__grid__item_2-biografia h1{
      color: #FFF;
      font-family: LEMON MILK;
      font-size: 6rem;
      font-style: italic;
      font-weight: 50rem;
      line-height: normal;
    }
    .contenido__grid__item_2-biografia img{
      max-width: 80rem;
      border-radius: 1.2rem;
    }

      .contenido__grid__item_2-biografia p{
        align-self: stretch;
        color: #FFF;
      font-family: Lexend, Inter;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }




/* CONTENIDO QUE ESTA DENTRO DE EL 2 ITEM DE LA GRID EN Premios */
.contenido__grid__item_2-premios{
  display: flex;
  flex-direction: column;
  margin: 0px 7rem;
  gap: 5rem;
  align-self: stretch;
  align-content: center;
  align-items: center;
  height: fit-content}

      .contenido__grid__item_2-premios h1{
        color: #FFF;
        font-family: LEMON MILK;
        font-size: 6rem;
        font-style: italic;
        font-weight: 50rem;
        line-height: normal;
      }

      .premio{
        margin-bottom: 3rem;
        border-radius: 0.8rem;
        background: rgba(62, 62, 62, 0.20);
        padding: 2rem;
        align-self: stretch;
        justify-content: center;
        align-items: center;
      }

      .premio__head{
        display: flex;
        align-items: center;
        align-content: center;
        gap: 1.6rem;
        align-self: stretch;
        flex-wrap: wrap;
      }

      .premio__head__tittle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.6rem;
        flex: 1 0 0;
      }

      .premio__head__tittle h4{
        align-self: stretch;
        color: #FFF;
        font-family: Lexend, Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .premio__head__tittle p{
        padding: 0.6rem;
        background-color: #75AADB;
        border-radius: 3rem;
        
      }

      .premio__head__tittle div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1.6rem;
        flex: 1 0 0;
      }

      .trofeo{
        height: 10rem;
      }

      .premios__contenedor__img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
      }

      .premios__img{
        width: 72rem;
        border-radius: 1.2rem;
      }



      /* CONTENIDO QUE ESTA DENTRO DE EL 2 ITEM DE LA GRID EN ESTADISTICAS */

.contenido__grid__item_2-estadisticas{
  display: flex;
  padding: 0rem 7rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}
    .contenido__grid__item_2-estadisticas h1{
      color: #FFF;
      font-family: LEMON MILK;
      font-size: 6rem;
      font-style: italic;
       font-weight: 50rem;
      line-height: normal;
      display: inline;
    }
    .contenido__grid__item_2-estadisticas p{
      font-size: 1.6rem;
      
    }

    .uno-de-fondo{
      position: absolute;
      right: 10rem !important;
      top: 162px;
      color: #FFF;
      font-family: LEMON MILK;
      font-size: 26.037rem;
      font-style: italic;
      font-weight: 500;
      line-height: normal;
      filter: blur(25px);
    }

    .contenido__grid__item_2-entrevistas{
      margin: 0 7rem;
    }
 
    .contenido__grid__item_2-entrevistas h1{
      color: #FFF;
      font-family: LEMON MILK;
      font-size: 6rem;
      font-style: italic;
       font-weight: 50rem;
      line-height: normal;
      display: inline;
    }
    

    .contenido__grid__item_2-entrevistas p{
      font-size: 1.6rem;  
    }

    .entrevistas{
      padding: 1.6rem;
      gap: 1.2rem;
      border-radius: 1.2rem;
      background: rgba(37, 37, 37, 0.60);
      transform: scale(1);
      transition: transform 300ms ease-out;
    }
      
    .entrevistas:hover{
      transform: scale(1.2);
      padding: 1.6rem;
      gap: 1.2rem;
      border-radius: 1.2rem;
      background: rgba(37, 37, 37, 0.60);
      transform: scale(1);
      box-shadow: 0px 0px 100px 30px rgba(255, 199, 0, 0.20);
    }

.grid__item-3{
  grid-area: 3 / 1 / 4 / 13;}

  /* CONTENIDO QUE ESTA DENTRO DE EL 3 ITEM DE LA GRID EN EL INDEX */
    .proximopartido{
      background-color: #75AADB;
      /* margin: 0px 7rem; */
      display: flex;
      flex-wrap: wrap;
      padding: 0px 1.4rem;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;
      align-self: stretch;
      height: fit-content;
    }

    .proximopartido p{
      color: #FFF;
      font-family: LEMON MILK;
      font-size: 8rem;
      font-style: italic;
      font-weight: 50rem;
      line-height: normal;
      display: inline;
    }
    .proximopartido h2{
  color: #FFF;
  font-family: Lexend, Inter;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 50rem;
  line-height: normal;
  display: inline;
  
    }

/* CONTENIDO QUE ESTA DENTRO DE EL 3 ITEM DE LA GRID EN ESTADISTICAS */
.contenido__grid__item_3-estadisticas ul{
  list-style-type: url("./media/balon-de-futbol.png")
}

.contenido__grid__item_3-estadisticas{
  margin: 0 7rem;
}

/* CONTENIDO QUE ESTA DENTRO DE EL 3 ITEM DE LA GRID EN ENTREVISTAS */
.contenido__grid__item_3-entevistas{
  margin: 0 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  ;
}

.grid__item-4{
  grid-area: 4 / 1 / 5 / 13;
}
  contenido__grid__item-4{ 
  height: fit-content;
}

.contenido__grid__item_4-index img{
  width:100%;
  align-self: stretch;
}

.contenido__grid__item_4-index{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
  

.contenido__grid__item_4-estadisticas{
  margin: 0 7rem;
  font-size: 1.rem;
  font-family: inter;

}

.tabla {
  background-color: #75AADB;
  border-radius: 12px !important;
  text-align: center;
  margin: auto;
}

.tabla th rowspan {
  background-color: lightgray;  
}

.grid__item-5{
  grid-area: 5 / 1 / 6 / 13;
}
 

.contenido__grid__item_5-index{
    margin: 0px 7rem;
     Display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: left;
}

.grid__item-6{
  grid-area: 6 / 1 / 7 / 13;
}



.bloque__seccion{
  min-height: 60rem;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 5rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
  border-radius: 0.8rem;
  background: radial-gradient(33.09% 16.73% at 14.52% 43.64%, rgba(255, 199, 0, 0.20) 0%, rgba(12, 12, 31, 0.20) 100%), rgba(62, 62, 62, 0.20);
}

.bloque__seccion-redes{
  display: flex;
  min-height: 50rem;
  padding: 1.875rem 3.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: radial-gradient(49.2% 26.94% at 19.62% 47.2%, rgba(255, 199, 0, 0.20) 0%, rgba(12, 12, 31, 0.20) 100%), rgba(62, 62, 62, 0.20);
}

.cards__redes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1.875rem;
  align-self: stretch;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    transform: scale(1);
    transition: transform 300ms ease-out;
    text-align: center;
  }
  
  .redes:hover {
    transform: scale(1.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }
  
 .redes img {
  width: 30rem;

 } 


.bloque__seccion h3{
  color: #FFF;
  font-family: LEMON MILK;
  font-size: 6rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.bloque__seccion p{
  color: #FFF;
  font-family: Lexend, Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bloque__seccion a{
  color: #75AADB;
  font-family: Lexend, Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bloque__seccion__img-copa{
  height: 33.4rem;
  transform: rotate(6.614deg);
}

.bloque__seccion__img-mapa{
  display: flex;
  height: 33.4rem;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloque__seccion__img-messientrevista{
  height: 25.9rem;
  border-radius: 17px;
}

.imagen-principal{
  width: 588px;
  height: 675px;
  flex-shrink: 1;
}

.imagen-sec{
  display: flex;
  height: 73.0064rem;
  align-self: stretch;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 0px 250px 0px rgba(255, 199, 0, 0.20);
}

.sun{
  height: 4.8rem;
  margin: 1.6rem;  
}

@media screen and (max-width:576px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.6em;
    align-content: start !important;
    max-height: 0em;
    width: 100%;

  }
  .imagen__principal{
    width: 100% !important;
  }
  .grid__item-1{
    grid-area: 1 / 1 / 2 / 6;
  }

  .grid__item-2{
    grid-area: 2 / 1 / 3 / 6;
  }

  .grid__item-3{
    grid-area: 3 / 1 / 4 / 6;
  }

  .grid__item-4{
    grid-area: 4 / 1 / 5 / 6;
  }

  .grid__item-5{
    grid-area: 5 / 1 / 6 / 6;
  }

  .grid__item-6{
    grid-area: 6 / 1 / 7 / 6;
  }

  .contenido__grid__item_2-inicio h1{
    font-size: 4rem;
  }
  p{
    font-size: 1.4rem;
  }

  .bloque__seccion{
    gap: 1.6rem;
    padding: 1.6rem;
    align-content: stretch;
  }
  .bloque__seccion h3{
    font-size: 2rem;
  }
  .bloque__seccion p{
    font-size: 1.4rem;
  }
  .bloque__seccion a{
  font-size: 1.4;
  padding: 1rem;
  /* background-color: #75AADB;
  color: #FFF;
  border-radius: 6rem; */
  }

  .proximopartido h2 {
    font-size: 1.4rem;
  }
  .proximopartido p{
    font-size: 2rem;
  }
  .proximopartido img{
    width: 50%;
    height: 50%;
  }
  .contenido__grid__item_4-index h4{
    margin: 0 1.6rem;
    text-align: center;
  }

  .contenido__grid__item_5-index{
    margin: 0 1.6rem;
  }
  .sun{
    width: 4.8rem;
  }
  .contenido__grid__item_2-entrevistas {
    margin: 0 1.6rem;
  }
  .contenido__grid__item_2-entrevistas h1{
    font-size:3rem;
  }
  .contenido__grid__item_3-entrevistas {
  margin: 0 1.6rem;
}
 footer{
  padding: 3rem 1.6rem;
 }

 footer a, footer p{
  font-size: 1.3rem;
 }
}
